<a href="https://colab.research.google.com/github/MariaCarmelaPascale/Telco-Customer/blob/main/Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [161]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

train = pd.read_csv("train.csv")

test = pd.read_csv("test.csv")

#Analisi dei dati

In [162]:
#stampo le feautures
train.columns

Index(['Churn', 'customerID', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges'],
      dtype='object')

In [163]:
train.sample(10)

     Churn  customerID  ... MonthlyCharges  TotalCharges
3930    No  7398-SKNQZ  ...          94.90         273.2
3281    No  2233-TXSIU  ...          44.45        792.15
1431    No  2519-ERQOJ  ...          54.60        1803.7
1949    No  2075-RMJIK  ...          49.40        232.55
1057    No  6656-JWRQX  ...          30.55         30.55
2776   Yes  0156-FVPTA  ...          54.20        1152.7
1715    No  9480-BQJEI  ...          92.30       5731.45
1151    No  2798-NYLMZ  ...         108.55          7616
3795    No  9495-REDIY  ...          40.65        970.55
1831    No  7336-RLLRH  ...          80.85       2204.35

[10 rows x 21 columns]

In [164]:
train.describe(include='all')

       Churn  customerID gender  ...     PaymentMethod MonthlyCharges TotalCharges
count   4507        4507   4507  ...              4507    4507.000000         4507
unique     2        4507      2  ...                 4            NaN         4276
top       No  9381-NDKME   Male  ...  Electronic check            NaN         20.2
freq    3316           1   2325  ...              1521            NaN           10
mean     NaN         NaN    NaN  ...               NaN      64.808764          NaN
std      NaN         NaN    NaN  ...               NaN      30.047022          NaN
min      NaN         NaN    NaN  ...               NaN      18.250000          NaN
25%      NaN         NaN    NaN  ...               NaN      35.850000          NaN
50%      NaN         NaN    NaN  ...               NaN      70.450000          NaN
75%      NaN         NaN    NaN  ...               NaN      89.850000          NaN
max      NaN         NaN    NaN  ...               NaN     118.600000          NaN

[11 rows x 21 columns]

In [165]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4507 entries, 0 to 4506
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             4507 non-null   object
 1   customerID        4507 non-null   object
 2   gender            4507 non-null   object
 3   SeniorCitizen     4507 non-null   int64
 4   Partner           4507 non-null   object
 5   Dependents        4507 non-null   object
 6   tenure            4507 non-null   int64
 7   PhoneService      4507 non-null   object
 8   MultipleLines     4507 non-null   object
 9   InternetService   4507 non-null   object
 10  OnlineSecurity    4507 non-null   object
 11  OnlineBackup      4507 non-null   object
 12  DeviceProtection  4507 non-null   object
 13  TechSupport       4507 non-null   object
 14  StreamingTV       4507 non-null   object
 15  StreamingMovies   4507 non-null   object
 16  Contract          4507 non-null   object
 17  PaperlessBilling  4507 non-null   object
 18  PaymentMethod     4507 non-null   object
 19  MonthlyCharges    4507 non-null   float64
 20  TotalCharges      4507 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 739.6+ KB

In [166]:
#elimino feautures non necessarie
train.drop(['customerID'], axis =1, inplace=True)
test.drop(['customerID'], axis =1, inplace=True)

In [167]:
#Casting feautures 'TotalCharges' from object to float
train['TotalCharges'] = pd.to_numeric(train.TotalCharges, errors='coerce')
test['TotalCharges'] = pd.to_numeric(test.TotalCharges, errors='coerce')

#train['tenure'] = train['tenure'].astype(float)
#test['tenure'] = test['tenure'].astype(float)

In [168]:
train['Churn'].replace(to_replace='Yes', value=1, inplace=True)
train['Churn'].replace(to_replace='No',  value=0, inplace=True)

test['Churn'].replace(to_replace='Yes', value=1, inplace=True)
test['Churn'].replace(to_replace='No',  value=0, inplace=True)

In [169]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4507 entries, 0 to 4506
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             4507 non-null   int64
 1   gender            4507 non-null   object
 2   SeniorCitizen     4507 non-null   int64
 3   Partner           4507 non-null   object
 4   Dependents        4507 non-null   object
 5   tenure            4507 non-null   int64
 6   PhoneService      4507 non-null   object
 7   MultipleLines     4507 non-null   object
 8   InternetService   4507 non-null   object
 9   OnlineSecurity    4507 non-null   object
 10  OnlineBackup      4507 non-null   object
 11  DeviceProtection  4507 non-null   object
 12  TechSupport       4507 non-null   object
 13  StreamingTV       4507 non-null   object
 14  StreamingMovies   4507 non-null   object
 15  Contract          4507 non-null   object
 16  PaperlessBilling  4507 non-null   object
 17  PaymentMethod     4507 non-null   object
 18  MonthlyCharges    4507 non-null   float64
 19  TotalCharges      4498 non-null   float64
dtypes: float64(2), int64(3), object(15)
memory usage: 704.3+ KB

In [170]:
#controllo valori nulli, ci sono 9 valori nulli di TotalCharges nel train e 1 nel test
print(train.isnull().sum())
print(test.isnull().sum())

Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        9
dtype: int64
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        1
dtype: int64

In [171]:
media = train['TotalCharges'].mean()
train['TotalCharges'] = train['TotalCharges'].replace(np.NaN, media).astype('float64')
media = test['TotalCharges'].mean()
test['TotalCharges'] = test['TotalCharges'].replace(np.NaN, media).astype('float64')

In [172]:
train.isnull().sum()

Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

In [173]:
s =(train.dtypes == 'object')
object_cols = list(s[s].index)
print(object_cols)
train2 = train.drop(object_cols, axis =1)
train3 = pd.get_dummies(train[object_cols])
train = pd.concat([train3,train2], axis = 1)
train

['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod']

      gender_Female  gender_Male  ...  MonthlyCharges  TotalCharges
0                 0            1  ...           19.45       1195.95
1                 1            0  ...          113.65       7714.65
2                 1            0  ...           88.00       6161.90
3                 1            0  ...           40.65       2070.75
4                 0            1  ...           86.70       5309.50
...             ...          ...  ...             ...           ...
4502              0            1  ...           43.65        526.95
4503              1            0  ...           92.55       4039.00
4504              1            0  ...           38.80        603.00
4505              0            1  ...           19.20        903.70
4506              1            0  ...           67.45       1801.10

[4507 rows x 46 columns]

In [174]:
s =(test.dtypes == 'object')
object_cols = list(s[s].index)
print(object_cols)
test2 = test.drop(object_cols, axis =1)
test3 = pd.get_dummies(test[object_cols])
test = pd.concat([test3,test2], axis = 1)
test

['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod']

      gender_Female  gender_Male  ...  MonthlyCharges  TotalCharges
0                 0            1  ...           51.70       3005.80
1                 1            0  ...           94.75       5597.65
2                 0            1  ...           80.80        332.45
3                 1            0  ...          106.30       4443.45
4                 0            1  ...           60.75       2893.40
...             ...          ...  ...             ...           ...
1122              0            1  ...           20.25        158.35
1123              1            0  ...           75.40       1322.55
1124              0            1  ...          106.10       2847.40
1125              1            0  ...           79.60       4024.20
1126              0            1  ...           55.15        159.15

[1127 rows x 46 columns]

#Addestramento del modello

In [175]:
y_train = train["Churn"].values #valori di class
X_train = train.drop(["Churn"], axis=1).values #tutti i dati eccetto la colonna "class"

y_test = test["Churn"].values #valori di class
X_test = test.drop(["Churn"], axis=1).values #tutti i dati eccetto la colonna "class"

In [176]:
from sklearn.linear_model import LogisticRegression

logic = LogisticRegression(random_state=0, max_iter=1000)
logic.fit(X_train, y_train)
print("Accuracy on training set: {:.3f}".format(logic.score(X_train, y_train)))
print("Accuracy on test set: {:.3f}".format(logic.score(X_test, y_test)))

Accuracy on training set: 0.803
Accuracy on test set: 0.801